# Xcode user state
**/xcuserdata/

# Xcode build files
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

